# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Medidas de Centralidade e Dispersão

A partir do dataset `movies.csv` calcule a média, mediana e desvio padrão para as colunas:

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:20,.2f}'.format
movies_df = pd.read_csv("movies.csv")

def select_data(select_data):
    movies_select = movies_df[select_data]
    movies_select.loc['Media'] = np.mean(movies_select)
    movies_select.loc["Mediana"] = movies_select.median()
    movies_select.loc["Desvio_Padrao"] = np.std(movies_select)
    movies_select = pd.DataFrame(movies_select)
    return movies_select.loc[["Media", "Mediana", "Desvio_Padrao"]]

### US Gross

In [2]:
select_data("US Gross")

                          US Gross
Media                44,002,085.16
Mediana              22,032,635.00
Desvio_Padrao        62,527,152.26

### Production Budget

In [3]:
select_data("Production Budget")

                 Production Budget
Media                31,069,171.45
Mediana              20,000,000.00
Desvio_Padrao        35,569,776.79

### Running Time

In [4]:
select_data("Running Time (min)")

                Running Time (min)
Media                       110.19
Mediana                     107.00
Desvio_Padrao                20.15

### IMDB Rating

In [5]:
select_data("IMDB Rating")

                       IMDB Rating
Media                         6.28
Mediana                       6.40
Desvio_Padrao                 1.25

### IMDB Votes

In [6]:
select_data("IMDB Votes")

                        IMDB Votes
Media                    29,908.64
Mediana                  15,115.00
Desvio_Padrao            44,915.85

### Análise dos Resultados

Quais colunas tiveram valores muito diferentes entre média e mediana? Quais os seus desvios padrão?

**As colunas de Us Gross, Production Budget, e IMDB Votes, tiveram as maiores diferença entre a média e mediana, e consequentemente os maiores desvios de padrão**

Que conclusões podemos tirar desses resultados?

**Que quanto maior é a diferença entre media e mediana maior será seu desvio padrão, que faz sentido pois quando temos dados muito disperços implica em uma grande desigualdade de seus valores.**